.el-dropdown-menu__item {
  --el-dropdown-menuItem-hover-color: #1B16FF
}
.el-button--primary {
  --el-color-primary: #1B16FF
}
.el-table {
  --el-table-row-hover-bg-color: #FAFAFF !important;
  --el-table-current-row-bg-color: #FAFAFF !important;
}